<thf-page-default t-title="OpenAPI Autogen">
  <div class="thf-row">
    <p class="thf-font-text">
      Made by Lucas Reis at <span class="thf-icon thf-icon-totvs"></span>.
    </p>
    <hr>
    

  </div>
  <thf-tabs>
    <thf-tab t-label="Sobre" t-disabled>
    </thf-tab>
    
    <thf-tab t-label="Código">
      <app-code-tab (jsonChanged)="jsonChanged($event)" [oasObjectProperty]="oasFile"></app-code-tab>
    </thf-tab>

    <thf-tab t-label="Header">
      <app-header-tab [(infoProperty)]="oasFile.info"></app-header-tab>
    </thf-tab>

    <thf-tab t-label="X-TOTVS">
      <app-xtotvs-tab [(infoProperty)]="oasFile.info"></app-xtotvs-tab>
    </thf-tab>

    <thf-tab t-label="Servers">
      <app-servers-tab [(serversProperty)]="oasFile.servers"></app-servers-tab>
    </thf-tab>

    <thf-tab t-label="Security" t-disabled>
    </thf-tab>

    <thf-tab t-label="Tags">
      <app-tags-tab></app-tags-tab>
    </thf-tab>

    <thf-tab t-label="Main" t-disabled>
    </thf-tab>

    <thf-tab t-label="Schemas" t-disabled>
    </thf-tab>

    <thf-tab t-label="Wizard" t-disabled>
    </thf-tab>

    <thf-tab t-label="Exportar JSON" t-disabled>
    </thf-tab>

  </thf-tabs>

</thf-page-default>
