<form #xtotvsForm="ngForm" novalidate>

  <div class="thf-row">
    <thf-input class="thf-lg-6 thf-mb-2" name="xtotvs-message-name" 
      [(ngModel)]="infoProperty['x-totvs'].messageDocumentation.name" t-label="Nome" t-required>
    </thf-input>

    <thf-input class="thf-lg-6 thf-mb-2" name="xtotvs-message-segment" 
      [(ngModel)]="infoProperty['x-totvs'].messageDocumentation.segment" t-label="Segmento" t-required>
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-textarea class="thf-lg-12 thf-mb-2" name="xtotvs-message-description" 
      [(ngModel)]="infoProperty['x-totvs'].messageDocumentation.description" t-label="Descrição" t-required>
    </thf-textarea>
  </div>

  <div class="thf-row">
    <thf-button class="thf-md-3 thf-m-5" t-label="Adicionar Produto" (t-click)="onPClick()">
    </thf-button>
  </div>

  <div class="thf-row" *ngFor="let product of infoProperty['x-totvs'].productInformation">
    <app-xtotvs-product [xtotvsProduct]="product" (deleteClicked)="deletePassedProduct($event)" class="thf-lg-12 thf-mb-3"></app-xtotvs-product>
  </div>

</form>
