<form #serverBoxForm="ngForm" novalidate>
  <div class="thf-row thf-p-3" style="background-color:gainsboro;">
    <div class="thf-row thf-mb-3">

      <thf-input class="thf-lg-4" name="server-url" [(ngModel)]="serverProperty.url" t-icon="thf-icon-world" t-clean t-label="URL"
        t-required>
      </thf-input>

      <thf-input class="thf-lg-4" name="server-description" [(ngModel)]="serverProperty.description" t-clean t-label="Descrição">
      </thf-input>

      <thf-button class="thf-lg-3 thf-mt-5" t-small t-label="Adicionar Variável" (t-click)="onClick()">
      </thf-button>

      <span class="thf-lg-1 thf-icon thf-icon-delete" t-tooltip="Deletar Servidor"></span>
      
    </div>
  </div>
</form>
